# === do NOT upload ===
__pycache__/
*.pyc
*.pyo
*.log
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

# local env / OS
.DS_Store

# temp
catboost_info/tmp/
logs/*.tmp

# DO NOT upload patch zip (you can regenerate)
*patch*.zip

# do not upload shell
*.sh
